html{
    background-color: #f8f8f8;
}
.container{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    justify-content: space-between;
    margin: auto;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.container-titulo {

    h1 {
        font-size: 50px;
    }

    p{
        
        font-size: 15px;
    }
}

h1{

}

.container-lorem{
    
    display: flex;
    flex-direction: row;

    p {
        font-size: small;
        padding-left: 20px;
        text-align: justify;
    }
}

@media only screen and (max-width: 575px) {
    .container {
      width: 90%;
      height: auto;
      margin-top: 10%;
    }
  
    .container-titulo h1 {
      font-size: 30px;
    }
  
    .container-titulo p {
      font-size: 12px;
    }
  
    .container-lorem {
      flex-direction: column;
    }
  
    .container-lorem p {
      font-size: 10px;
      padding-left: 0;
      margin-bottom: 10px;
    }
  }